.back{
    background-image: url('../resources/neonBack.jpg');
    background-size: cover;
    min-height: 91.5vh;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading{
    width: 500px;
    height: fit-content;
    padding: 2%;
    color: #FF7B00;
    background-color: #FF7B00;
    font-size: 40px;
    box-shadow: 0px 0px 25px rgba(255, 255, 0, 0.5);
    border-radius: 15%;
    justify-content: center;
}

.loadingTitle{
    padding: 2%;
    color: #FF7B00;
    font-size: 40px;
    box-shadow: 0px 0px 25px rgba(255, 255, 0, 0.5);
    background-color: rgba(255, 255, 0, 0.85);
    border-radius: 40%;
}

.details{
    background-color: rgba(255, 255, 0, 0.9);
    border: 6px dotted red;
    border-radius: 6%;
    padding: 15px;
}

.img{
    position: absolute;
    top: 0;
    left: 1;
    right: 0;
    bottom: 0;
    margin: auto 600px auto auto;
    width: 200px;
    background-color: rgba(255, 255, 0, 0.95);
    border: 3px dotted red;
    border-radius: 6%;
    height: fit-content;
}

.name{
    color: #FF7B00;
    font-size: 30px;
}

.data{
    color: #FF7B00;
    font-size: 20px;
}

.value{
    color: red;
}