.background {
    background-image: url('../resources/bg.png');
    background-size: cover;
    min-height: 97vh;
    padding: 14.5px;
}

.title {
    padding: 2%;
    color: #FFEA00;
    font-size: 60px;
    box-shadow: 0px 0px 25px rgba(255, 255, 0, 0.5);
}

.btn {
    background-color: #FFEA00;
    color: #FF7B00;
    border: 2px solid #FF7B00;
    font-weight: bold;
    font-size: xx-large;
    padding: 10px;
    border-radius: 15%;
    width: 9%;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto auto 40px auto;
    box-shadow: 0px 0px 25px rgba(255, 255, 0, 0.5);
}

.btn:hover{
    background-color: #FF7B00;
    color: #FFEA00;
    cursor: pointer;
    border: 2px solid #FFEA00;
    box-shadow: 0px 0px 50px rgba(255, 255, 0, 0.5);
}