.background {
    background-image: url('../resources/notFoundBG.jpg');
    background-size: cover;
    min-height: 94.2vh;
}

.btn {
    background-color: #FFEA00;
    color: #FF7B00;
    border: 2px solid #FF7B00;
    font-weight: bold;
    font-size: larger;
    padding: 5px;
    border-radius: 15%;
    width: 7%;
    height: 50px;
    position: absolute;
    top: 1;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.title{
    background-color: red;
    color: white;
}

.img {
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}